# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
backend/nonconformites.db

# VSCode
.vscode/
.history/

# Node.js / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.next/
frontend/.cache/
frontend/.turbo/

# Données locales
chroma_db/
.chroma_db/
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
*.ipynb_checkpoints

# Environnements virtuels
.venv/
env/
venv/